/* Global Styles */
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header Styles */
.header {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for menu icon */
.menu-icon {
    display: inline-flex; /* Display menu icon and logo in the same line */
    align-items: center; /* Align items vertically */
    margin-right: 20px; /* Add some space between the menu icon and logo */
    margin-left: 20px;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Navigation Styles */
.navigation {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #007bff;
    transition: left 0.3s ease;
    z-index: 1;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navigation li {
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.container h1 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.nav-buttons a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}